@charset "UTF-8";
/* ========================================
    mixin and valiable
========================================= */
/*-------------------------

pc & sideways tablet: 1024px~
tablet: ~960px
smartphone: 320px ~ 560px

-------------------------*/
/* ========================================
    Basic Configuration
========================================= */
* {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  text-decoration: none;
}

.section {
  margin: 0 auto;
  width: 80%;
}

.heading {
  color: #01b2fe;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem 0 .2rem 0;
  border-bottom: 1px solid #aeaeae;
}

/* ========================================
    card
========================================= */
.card_wrapper {
  position: fixed;
  left: 60%;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

@media (max-width: 960px) {
  .card_wrapper {
    left: 50%;
  }
}

.card_wrapper .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_wrapper .card span {
  position: absolute;
  top: 0;
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  -webkit-transform-origin: 125px 0;
          transform-origin: 125px 0;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  opacity: 0.75;
}

@media (max-width: 400px) {
  .card_wrapper .card span {
    width: 190px;
    height: 190px;
  }
}

.card_wrapper .card span:nth-of-type(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.card_wrapper .card span:nth-of-type(1) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card_wrapper .card span:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card_wrapper .card span:nth-of-type(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.card_wrapper .card span:nth-of-type(1) {
  background-color: #01b2fe;
}

.card_wrapper .card span:nth-of-type(2) {
  background-color: #ff008c;
}

.card_wrapper .card span:nth-of-type(3) {
  background-color: #ffcd00;
}

.card_wrapper .card span:nth-of-type(4) {
  background-color: #00c456;
}

/* ========================================
    header
========================================= */
header {
  background-color: rgba(246, 245, 239, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
  header {
    width: 40%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  header {
    width: 50%;
  }
}

@media only screen and (min-width: 520px) and (max-width: 600px) {
  header {
    width: 65%;
  }
}

@media (max-width: 520px) {
  header {
    width: 100%;
  }
}

@media (max-width: 960px) {
  header {
    display: none;
  }
}

header #user h1 {
  font-size: 2rem;
  font-weight: bold;
}

header #user p {
  font-size: 1.5rem;
}

header #user img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 7px solid #afedf1;
}

header nav {
  width: 100%;
}

header nav ul {
  padding: .2em 2em;
}

header nav ul li a {
  background-color: #aeaeae;
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  border-radius: 5em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav ul li a:hover {
  background-color: #afedf1;
}

#toggle_cover {
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 30;
  display: none;
}

@media (max-width: 960px) {
  #toggle_cover {
    display: block;
  }
}

#toggle_cover #toggle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #aeaeae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#toggle_cover #toggle::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: #afedf1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 8px 0 #afedf1;
          box-shadow: 0 8px 0 #afedf1;
}

#toggle_cover #toggle::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: #afedf1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

#toggle_cover #toggle.active::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
  -webkit-box-shadow: 0 0 0 #afedf1;
          box-shadow: 0 0 0 #afedf1;
}

#toggle_cover #toggle.active::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

/*丸の拡大*/
#circle {
  position: fixed;
  top: -60px;
  right: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(246, 245, 239, 0.7);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
}

@media (max-width: 520px) {
  #circle.circle_active {
    -webkit-transform: scale(50);
            transform: scale(50);
    /*クラスが付与されたらscaleを拡大*/
  }
}

/* ========================================
    wrapper
========================================= */
.wrapper {
  margin-left: 30%;
  /* ========================================
        home_wrapper
    ========================================= */
  /* ========================================
        about_wrapper
    ========================================= */
}

@media (max-width: 960px) {
  .wrapper {
    margin: 0 auto;
  }
}

.wrapper .sc_mg {
  text-align: center;
}

.wrapper .sc_mg.sc_mg1 {
  margin-top: 2rem;
  font-size: 4rem;
  color: #01b2fe;
}

.wrapper .sc_mg.sc_mg2 {
  font-size: 1.5rem;
}

.wrapper #home_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 0;
}

.wrapper #home_wrapper h1 {
  font-size: 4rem;
  font-weight: bold;
}

@media (max-width: 520px) {
  .wrapper #home_wrapper h1 {
    font-size: 2.5rem;
  }
}

.wrapper #home_wrapper h1 span {
  color: #01b2fe;
  font-weight: bold;
}

.wrapper #home_wrapper p {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}

.wrapper #home_wrapper p a {
  font-weight: bold;
}

.wrapper #home_wrapper #about_me {
  font-size: 1.5rem;
  font-weight: normal;
  padding: .5rem 1.5rem;
  background-color: #aeaeae;
  border-radius: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.wrapper #home_wrapper #about_me:hover {
  background-color: #afedf1;
}

.wrapper #about_wrapper dl {
  width: 80%;
  padding: .5rem 0;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .wrapper #about_wrapper dl {
    width: 100%;
  }
}

.wrapper #about_wrapper dl dt {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 2rem;
}

@media (max-width: 360px) {
  .wrapper #about_wrapper dl dt {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .wrapper #about_wrapper dl dt {
    margin-right: .5rem;
  }
}

.wrapper #about_wrapper dl dd {
  font-size: 1.5rem;
  display: inline-block;
}

@media (max-width: 360px) {
  .wrapper #about_wrapper dl dd {
    font-size: 1.3rem;
  }
}

.wrapper #about_wrapper h2 {
  font-size: 2.5rem;
  padding: 6rem 0 2rem 0;
  text-align: center;
}

@media (max-width: 360px) {
  .wrapper #about_wrapper h2 {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .wrapper #about_wrapper h2 {
    padding-top: 4rem;
  }
}

.wrapper #about_wrapper .swiper {
  width: 100%;
  padding-bottom: 40px;
}

.wrapper #about_wrapper .swiper.rock_climbing {
  border-bottom: 1px solid #aeaeae;
}

.wrapper #about_wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 350px;
}

@media (max-width: 600px) {
  .wrapper #about_wrapper .swiper-slide {
    width: 200px;
    height: 250px;
  }
}

.wrapper #about_wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 350px;
}

@media (max-width: 600px) {
  .wrapper #about_wrapper .swiper-slide img {
    height: 250px;
  }
}

.wrapper #skills_wrapper {
  width: 80%;
  padding: 5rem 0;
}

.wrapper #skills_wrapper dl {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

@media (max-width: 580px) {
  .wrapper #skills_wrapper dl {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .wrapper #skills_wrapper dl {
    width: 100%;
  }
}

.wrapper #skills_wrapper dl dt {
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0 .5rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#afedf1), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #afedf1, rgba(255, 255, 255, 0));
}

@media (max-width: 580px) {
  .wrapper #skills_wrapper dl dt {
    width: 100%;
  }
}

.wrapper #skills_wrapper dl dd {
  font-size: 1.5rem;
}

.wrapper #skills_wrapper dl dd a {
  color: #01b2fe;
  font-weight: bold;
}

.wrapper #portfolio_wrapper #portfolios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0;
}

@media (max-width: 700px) {
  .wrapper #portfolio_wrapper #portfolios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper #portfolio_wrapper #portfolios .portfolio {
  width: 40%;
  margin: 0 1rem 3rem 1rem;
  position: relative;
}

@media (max-width: 700px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio {
    width: 70%;
  }
}

@media (max-width: 530px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio {
    width: 90%;
  }
}

.wrapper #portfolio_wrapper #portfolios .portfolio a img {
  display: block;
  width: 100%;
  height: 180px;
}

@media only screen and (min-width: 400px) and (max-width: 700px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio a img {
    height: 250px;
  }
}

.wrapper #portfolio_wrapper #portfolios .portfolio a span {
  width: 100%;
  height: 180px;
  font-size: 2rem;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-weight: bold;
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  top: 0;
}

@media only screen and (min-width: 530px) and (max-width: 1024px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio a span {
    width: 75%;
  }
}

@media (max-width: 530px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio a span {
    width: 90%;
  }
}

@media (max-width: 399px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio a span {
    height: 150px;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio a span {
    height: 150px;
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .wrapper #portfolio_wrapper #portfolios .portfolio a span {
    color: #6e6e6e;
    opacity: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.wrapper #contact_wrapper form {
  width: 100%;
  padding: 1rem 0 3rem 0;
  margin: 1rem 0 3rem 0;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper #contact_wrapper form .error_message {
  color: red;
  width: 85%;
  text-align: left;
  font-size: 1.3rem;
}

.wrapper #contact_wrapper form .box {
  font-family: sans-serif;
  width: 85%;
  display: block;
  margin: 0 auto;
  padding: .6rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  background-color: #aeaeae;
  color: #fff;
  margin-top: 2rem;
}

.wrapper #contact_wrapper form .box::-webkit-input-placeholder {
  color: #fff;
}

.wrapper #contact_wrapper form .box:-ms-input-placeholder {
  color: #fff;
}

.wrapper #contact_wrapper form .box::-ms-input-placeholder {
  color: #fff;
}

.wrapper #contact_wrapper form .box::placeholder {
  color: #fff;
}

.wrapper #contact_wrapper form .box.message {
  resize: none;
}

.wrapper #contact_wrapper form button {
  border: none;
  outline: none;
  background-color: #aeaeae;
  color: #fff;
  margin-top: 2rem;
  padding: .2rem 3rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: bold;
}

.wrapper #contact_wrapper form button:hover {
  cursor: pointer;
  color: #6e6e6e;
  background-color: #01b2fe;
}
/*# sourceMappingURL=style.css.map */